---
title: "Teaching-Software-Verification"
collection: teaching
type: "Undergraduate course"
permalink: /teaching/verification
venue: "University of Technology Sydney, Computer Science and Engineer"
date: 2022-01-01
location: "Sydney, Australia"
---

Contributor of [Teaching-Software-Verification](https://github.com/SVF-tools/Teaching-Software-Verification) an online open courses for <b>learning software verification</b> via [SVF](https://github.com/SVF-tools/SVF).


Goal of this subject
======
Lead students to develop software verification tool in 12 weeks.
 
More concretely:
======
Develop an automated static verifier using C++ to conduct static symbolic execution of a C program.
